services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: vital-watch-api
    restart: unless-stopped
    ports:
      - "8000:8080" # Map host port 8000 to container port 8080
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - ./storage:/app/storage

  db:
    image: postgres:15-alpine
    container_name: vital-watch-db
    environment:
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: apppassword
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"
    
    # We are using tmpfs as I dont want persistent storage during development
    # TODO: Change this to a volume for production deployments
    tmpfs:
      - /var/lib/postgresql/data:size=1g