version: "3.9"
services:
  db:
    build:
      context: .
      dockerfile: .Dockerfile
    image: cc-backend-postgres
    container_name: cc-pg-temp
    environment:
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: apppassword
      POSTGRES_DB: appdb
    tmpfs:
      - /var/lib/postgresql/data:size=1g
    ports:
      - "5432:5432"
    restart: "no"